/**********************************************************************************
【概要】
各種ボタンのデザイン

【CSSの読み込み】
HTML : <link rel="stylesheet" href="../css/Button.css">
CSS  : @import url("../css/Button.css");
 
【クラスの呼び出し】
----------------------   ---------------------------
背景：オレンジ　文字：白    class="button--orange"
----------------------   ---------------------------
----------------------   ---------------------------
背景：白　文字：オレンジ　 class="button--whiteOrange"
----------------------   ---------------------------
-----------------   ------------------------------
背景：水　文字：白    class="button--lightblue"
-----------------   ------------------------------
-----------------   ------------------------------
背景：白　文字：水　  class="button--whiteLightblue"
-----------------   ------------------------------

【呼び出し例】
----------------------------------------------------------------------------------------------------
<button type="submit" onfocus="this.blur();" class="button--lightblue" autofocus=true>文字 </button>
----------------------------------------------------------------------------------------------------
※呼び出しHTMLにonfocusの処理を入れるのは選択時に黒い淵を出さないため

**********************************************************************************/

@import url("../css/VariableDeclaration.css");  /*変数読み込み*/

/***************************************************
*                 オレンジのボタン
*   色　bg:mynbOR border:none char:white
*   
***************************************************/
/*通常時*/
.button--orange{
  color: #fff;
  background-color: #f67e28;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border: none;
  font-weight: bold;
}

/*カーソルが乗っている時*/
.button--orange:hover{
  background: #f59048;
  color: #fff;
}

/***************************************************
*
*　　　　　　　　　白＋オレンジのボタン
*
***************************************************/
/*通常時*/
.button--whiteOrange{
  color: #f67e28;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border-style: solid;
  border-color: #f67e28;
  font-weight: bold;
}

/*カーソルが乗っている時*/
.button--whiteOrange:hover{
  background: rgb(255, 239, 232);
  color: #f59048;
}

/***************************************************
*
*　　　　　　　　　水色のボタン
*
***************************************************/
/*通常時*/
.button--lightblue{
  color: #fff;
  background-color: #00aaeb;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border: none;
  font-weight: bold;
}

/*カーソルが乗っている時*/
.button--lightblue:hover{
  background: #33b4e7;
  color: #fff;
}

/***************************************************
*
*　　　　　　　　　白＋水色のボタン
*
***************************************************/
/*通常時*/
.button--whiteLightblue{
  color: #00aaeb;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border-style: solid;
  border-color: #00aaeb;
  font-weight: bold;
}

/*カーソルが乗っている時*/
.button--whiteLightblue:hover{
  background: rgb(243, 247, 255);
  color: #00aaeb;
}