/**********************************************************************************
【概要】
各種ボタン

【CSSの読み込み】
<link rel="stylesheet" href="../css/button.css">
 
【クラスの呼び出し】
・オレンジ色
-------------------------------------------------------------------------------
<button type="submit" class="button button--orange" autofocus=true>文字 </button>
-------------------------------------------------------------------------------
・白色+オレンジ色
-------------------------------------------------------------------------------
<button type="submit" class="button button--whiteOrange" autofocus=true>文字 </button>
-------------------------------------------------------------------------------
・水色
-------------------------------------------------------------------------------
<button type="submit" class="button button--lightblue" autofocus=true>文字 </button>
-------------------------------------------------------------------------------
・白色+水色
-------------------------------------------------------------------------------
<button type="submit" class="button button--whiteLightblue" autofocus=true>文字 </button>
-------------------------------------------------------------------------------

**********************************************************************************/

/***************************************************
*
*　　　　　　　　　オレンジのボタン
*
***************************************************/
/*通常時*/
.button--orange,
a.button--orange {
  color: #fff;
  background-color: #f67e28;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border: none;
  font-weight: bold;
}

/*カーソルが乗っている時*/
.button--orange:hover,
a.button--orange:hover {
  color: #fff;
  background: #f59048;
}

/***************************************************
*
*　　　　　　　　　白＋オレンジのボタン
*
***************************************************/
/*通常時*/
.button--whiteOrange,
a.button--whiteOrange {
  color: #f67e28;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border-style: solid;
  border-color: #f67e28;
  font-weight: bold;
}

/*カーソルが乗っている時*/
.button--whiteOrange:hover,
a.button--whiteOrange:hover {
  color: #f59048;
  background: #fff;
}

/***************************************************
*
*　　　　　　　　　水色のボタン
*
***************************************************/
/*通常時*/
.button--lightblue,
a.button--lightblue {
  color: #fff;
  background-color: #00aaeb;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border: none;
  font-weight: bold;
}

/*カーソルが乗っている時*/
.button--lightblue:hover,
a.button--lightblue:hover {
  color: #fff;
  background: #33b4e7;
}

/***************************************************
*
*　　　　　　　　　白＋水色のボタン
*
***************************************************/
/*通常時*/
.button--whiteLightblue,
a.button--whiteLightblue {
  color: #00aaeb;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  border-style: solid;
  border-color: #00aaeb;
  font-weight: bold;
}

/*カーソルが乗っている時*/
.button--whiteLightblue:hover,
a.button--whiteLightblue:hover {
  color: #33b4e7;
  background: #fff;
}