/**********************************************************************************
【概要】
各種ボタンのデザイン

【CSSの読み込み】
HTML : <link rel="stylesheet" href="../css/Button.css">
CSS  : @import url("../css/Button.css");

【クラス一覧】
背景：オレンジ　文字：白
---------------------------
class="button--orange"
---------------------------
背景：白　文字：オレンジ
---------------------------
class="button--whiteOrange"
---------------------------
背景：水　文字：白
------------------------------
class="button--lightblue"
------------------------------
背景：白　文字：水
------------------------------
class="button--whiteLightblue"
------------------------------

【呼び出し例】
----------------------------------------------------------------------------------------------------
<button type="submit" onfocus="this.blur();" class="button--lightblue" autofocus=true>文字 </button>
----------------------------------------------------------------------------------------------------
※呼び出しHTMLにonfocusの処理を入れるのは選択時に黒い淵を出さないため

**********************************************************************************/

/***************************************************
*   変数宣言
***************************************************/
@import url("../css/VariableDeclaration.css");

:root{
  /*border*/
  --btn-border-rad:0px;

  /*padding-size*/
  --btn-pad-up:5px;
  --btn-pad-right:8px;
  --btn-pad-under:5px;
  --btn-pad-left:8px;

  /*text*/
  --btn-text-align:center;
  --btn-font-weight:none;

}

/***************************************************
*   背景：オレンジ　文字：白
***************************************************/
/*通常時*/
.button--orange{
  color: #fff;
  background-color: var(--color-or);
  border-radius: var(--btn-border-rad);
  padding: var(--btn-pad-up) var(--btn-pad-right) var(--btn-pad-under) var(--btn-pad-left);
  text-align: var(--btn-text-align);
  font-weight: var(--btn-font-weight);
  font-size: var(--font-size);

  border: none;
}

/*カーソルが乗っている時*/
.button--orange:hover{
  background-color: var(--color-or-act1);
}

/***************************************************
*   背景：白　文字：オレンジ
***************************************************/
/*通常時*/
.button--whiteOrange{
  color: var(--color-or);
  background-color: #fff;
  border-radius: var(--btn-border-rad);
  padding: var(--btn-pad-up) var(--btn-pad-right) var(--btn-pad-under) var(--btn-pad-left);
  text-align: var(--btn-text-align);
  font-weight: var(--btn-font-weight);
  font-size: var(--font-size);

  border-style: solid;
  border-color: var(--color-or);
}

/*カーソルが乗っている時*/
.button--whiteOrange:hover{
  background-color: var(--color-or-act2);
}

/***************************************************
*   背景：水　文字：白
***************************************************/
/*通常時*/
.button--lightblue{
  color: #fff;
  background-color: var(--color-lb);
  border-radius: var(--btn-border-rad);
  padding: var(--btn-pad-up) var(--btn-pad-right) var(--btn-pad-under) var(--btn-pad-left);
  text-align: var(--btn-text-align);
  font-weight: var(--btn-font-weight);
  font-size: var(--font-size);

  border: none;
}

/*カーソルが乗っている時*/
.button--lightblue:hover{
  background-color: var(--color-lb-act1);
}

/***************************************************
*   背景：白　文字：水
***************************************************/
/*通常時*/
.button--whiteLightblue{
  color: var(--color-lb);
  background-color: #fff;
  border-radius: var(--btn-border-rad);
  padding: var(--btn-pad-up) var(--btn-pad-right) var(--btn-pad-under) var(--btn-pad-left);
  text-align: var(--btn-text-align);
  font-weight: var(--btn-font-weight);
  font-size: var(--font-size);

  border-style: solid;
  border-color: var(--color-lb);
}

/*カーソルが乗っている時*/
.button--whiteLightblue:hover{
  background-color: var(--color-lb-act2);
}