/**********************************************************************************
【概要】
入力部のデザイン

【CSSの読み込み】
HTML : <link rel="stylesheet" href="../css/Input.css">
CSS  : @import url("../css/Input.css");

**********************************************************************************/

@import url("../css/VariableDeclaration.css");  /*変数読み込み*/

input[type="text"]{
    border: 1px solid;
    background:#fff;
    border-color: #00aaeb;
    height: 37px;
    width: 160px;
}

input[type="text"]:focus{
    border: 1px solid;
    border-color: #00aaeb;
    background:#fff;
    outline: 0;
}