/**********************************************************************************
【概要】
入力部のデザイン

【CSSの読み込み】
HTML : <link rel="stylesheet" href="../css/Input.css">
CSS  : @import url("../css/Input.css");

【クラスの呼び出し】
通常のinputが全て変わります
通常通り使えばOK

**********************************************************************************/

/***************************************************
*       変数宣言
***************************************************/
@import url("../css/VariableDeclaration.css");

input[type="text"]{
    border: 1px solid;
    border-color: var(--color-lb);
    background-color:#fff;
    
    height: 25px;
    width: 200px;
}

input[type="text"]:focus{
    border: 1px solid;
    border-color: var(--color-lb);
    background-color:#fff;

    outline: none;
}