/************************************
使い方：
<select class="pulldown--lightblue">
<option value="選択肢1">選択肢1</option>
<option value="選択肢2">選択肢2</option>
</select>

************************************/


@import url("../css/VariableDeclaration.css");

.pulldown-lb{
  border-style: solid;
  border-color: var(--color-lb);
  color: var(--color-lb);
  border-radius: 5px;
  font-size: 15px;
  margin: 2px;
  padding: 4px;
}

.pulldown{
  border-style: solid;
  /*border-color: var(--color-lb);
  color: var(--color-lb);*/
  border-radius: 5px;
  font-size: 15px;
  margin: 2px;
  padding: 4px;
}

.pulldown-or{
  border-style: solid;
  border-color: var(--color-or);
  color: var(--color-or);
  border-radius: 5px;
  font-size: 15px;
  margin: 2px;
  padding: 4px;
}
